.Projects_page ul {
    list-style: none;
}

.Projects_page img {
    width: 100%;
    height: auto;
    z-index: -1;
}

.border-bottom {
    position: absolute;
    top: 100px;
    width: 0%;
    z-index: 1;
    border-color: rgba(255, 255, 255, .2);
    border-width: .5px;
}

.text {
    position: absolute;
    top: 420px;
    left: 450px;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.subtitle {
    text-transform: uppercase;
    font-size: 14px;
    color: white;
}

.subtitle::before {
    display: inline-block;
    content: "";
    border: 1px solid #fff;
    width: 80px;
    margin: 0 10px 0 0;
    transform: translateY(-4px);
}

.foodwine .subtitle::before {
    display: inline-block;
    content: "";
    border: 1px solid #000;
    width: 80px;
    margin: 0 10px 0 0;
    transform: translateY(-4px);
}

.bulletintitle {
    color: red;
    font-size: 120px;
    text-transform: uppercase;
    width: 0%;
    overflow: hidden;
    white-space: nowrap;
}

.roomsytitle {
    color: #fa6933;
    font-size: 120px;
    text-transform: uppercase;
    width: 0%;
    overflow: hidden;
    white-space: nowrap;
}

.foodwinetitle {
    color: black;
    font-size: 120px;
    text-transform: uppercase;
    width: 0%;
    overflow: hidden;
    white-space: nowrap;
}

.socialmediatitle {
    color: #44d62c;
    font-size: 120px;
    text-transform: uppercase;
    width: 0%;
    overflow: hidden;
    white-space: nowrap;
}

.desc {
    color: rgba(255, 255, 255, .5);
    background-color: black;
    margin-top: 40px;
    line-height: 2;
    max-width: 600px;
}

.readmore {
    display: inline-block;
    margin-top: 80px;
    color: #b4b4b4;
    border-bottom: 1px solid #b4b4b4;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 3px;
    font-weight: bolder;
    transition: .5s;
    font-size: 1.3rem;
    background-color: black;
}

.socialreadmore:hover {
    color: white;
    text-shadow:
        0 0 10px #44d62c,
        0 0 20px #44d62c,
        0 0 40px #44d62c,
        0 0 80px #44d62c,
        0 0 120px #44d62c,
        0 0 160px #44d62c;
}

.foodwinereadmore:hover {
    color: white;
    text-shadow:
        0 0 10px #000,
        0 0 20px #000,
        0 0 40px #000,
        0 0 80px #000,
        0 0 120px #000,
        0 0 160px #000;
}

.buletinreadmore:hover {
    color: white;
    text-shadow:
        0 0 10px red,
        0 0 20px red,
        0 0 40px red,
        0 0 80px red,
        0 0 120px red,
        0 0 160px red;
}

.roomsyreadmore:hover {
    color: white;
    text-shadow:
        0 0 10px #f58e68,
        0 0 20px #f58e68,
        0 0 40px #f58e68,
        0 0 80px #f58e68,
        0 0 120px #f58e68,
        0 0 160px #f58e68;
}


.accounts {
    color: white;
    position: absolute;
    bottom: -120px;
    left: 0;
    background-color: black;
}

.img-1 {
    position: absolute;
    top: 300px;
    right: 320px;
    transform: translateY(-50%);
    height: 600px;
}

.img-2 {
    position: absolute;
    top: 320px;
    right: 0;
    transform: translateY(-50%);
    height: 350px;
    margin-bottom: 30px;
}

.img-3 {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 350px;
}

.img-3 img {
    height: 95%;
}


@media (max-width: 900px) {
    .img-1 {
        width: 400px;
    }

    .img-1 img {
        width: 400px;
    }

    .img-2 {
        top: 200px;
        width: 280px;
    }

    .img-2 img {
        width: 280px;
    }

    .img-3 {
        width: 280px;
        bottom: 100px;
    }

    .img-3 img {
        width: 280px;
    }

    .text {
        top: 360px;
        left: 330px;
    }

    .title {
        font-size: 100px;
    }

    .desc {
        margin-top: 30px;
    }

    .readmore {
        margin-top: 60px;
    }

    .socialmedia-text{
        left: 300px;
    }

    .socialmedia-text .title{
        font-size: 4rem;
    }
}


@media(max-width: 790px) {
    .img-1 {
        width: 300px;
        right: 170px;
    }

    .img-1 img {
        width: 300px;
    }

    .img-2 {
        top: 250px;
        width: 230px;
    }

    .img-2 img {
        width: 230px;
    }

    .img-3 {
        width: 230px;
        bottom: 150px;
    }

    .img-3 img {
        width: 230px;
    }
}

@media(max-width: 650px) {
    .img-1 {
        display: none;
    }

    .img-2{
        display: none;
    }

    .img-3{
        display: none;
    }

    .text {
        left: 280px;
    }

    .title {
        font-size: 4rem;
    }
}


@media(max-width: 500px) {
    .text {
        left: 180px;
    }

    .title {
        font-size: 4rem;
    }

    .socialmedia-text{
        left: 200px;
    }

    .socialmedia-text .title{
        font-size: 3rem;
    }
}