@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@300;400;500;600&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden !important;
}

body {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}